---
layout: panel
title: LearningSpaces Trial Thanks
---

<div class="panel-inner">
  <div class="container">
    <div class="logo">
      <%= image_tag 'logo-cube.svg', :class => 'logo-cube' %>
      <%= image_tag 'logo-text.svg', :class => 'logo-text', :alt => t("application_name") %>
    </div>

    <div class="form-title"><%= t("trial.thanks.headline") %></div>
    <p><%= t("trial.thanks.tagline") %></p>
  </div>

  <div class="footer">
    <%= link_to t("trial.thanks.back"), "/" %>
  </div>

  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1008438803;
  var google_conversion_language = "en";
  var google_conversion_format = "1";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "8g9HCID-u1gQk5zu4AM";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1008438803/?label=8g9HCID-u1gQk5zu4AM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
</div>
