---
layout: panel
i18n_page_name: login
---

<%= partial "header" %>

<div class="panel-inner">
  <div class="container">
    <h1>Log In</h1>
    <p><%= t("login.domain") %>:</p>

    <div class="input-group">
      <input type="text" name="subdomain" id="subdomain" value="" placeholder="domain">
      <span id="tld" class="input-addon">.learningspaces.io</span>
    </div>
    <button class="button button-green" id="continue"><%= t("login.continue") %></button>
    <div id="error"><%= t("login.tenant_not_found") %></div>
  </div>

  <div class="footer">
    <%= link_to t("login.create_tenant"), "/trial" %>
  </div>
</div>

<script>
  var tld = window.location.hostname.split('.').pop();

  $(function () {
    $('#tld').text(".learningspaces." + tld);
    var onClickHandler = function () {
      var subdomain = $('#subdomain').val();
      var url = 'https://' + subdomain + '.learningspaces.' + tld;
      window.location = url;
    }
    $('#continue').on('click', onClickHandler);
  });
</script>
