<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= current_page.data.title || "LearningSpaces" %></title>
    <%= tag(:meta, name: "description", content: current_page.data.description) if current_page.data.description -%>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag "favicon.ico" %>
    <%= stylesheet_link_tag "site" %>
    <%= partial "google_analytics" unless config[:environment] == "development" %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js", :all %>
  </head>
  <body class="<%= page_classes %>">

    <%= partial :header %>

    <%= yield %>

    <%= partial :footer %>

    <script>
      window.intercomSettings = {
        app_id: 'j6kn45rg'
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/j6kn45rg';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
</html>
