<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= current_page.data.title || "LearningSpaces" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_tag "favicon.ico" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js", :all %>
  </head>
  <body class="<%= page_classes %>">

    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>

  </body>
</html>
