<section class="clients">
  <div class="row">
    <p><%= t("clients.text") %></p>
  </div>
  <div class="logos">
    <%= image_tag "clients/nhl.png", alt: "NHL Hogeschool" %>
    <%= image_tag "clients/doppio.png", alt: "Doppio Espresso" %>
    <%= image_tag "clients/umcg.png", alt: "Universitair Medisch Centrum Groningen" %>
    <%= image_tag "clients/dpa-benkis.png", alt: "DPA Benkis" %>
    <%= image_tag "clients/berendsohn.png", alt: "Berendsohn" %>
  </div>
</section>
