<section class="contact">
  <div class="row">
    <h3><%= t("contact.support.title") %></h3>
    <p><%= t("contact.support.text") %></p>

    <br>
    <h4><%= t("contact.contact.title") %></h4>
    <p><%= t("contact.contact.text") %></p>

    <br>
    <h4><%= t("contact.team.title") %></h4>

    <ul class="team">
      <li>
        <img src="https://en.gravatar.com/userimage/7048689/70fe88e33267fd488fb92f99d1b82d13.jpg?size=200" alt="Frits" class="avatar">
        <span>Frits</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/b3164f7cd48eac83bc74ae2dc73f7af6.png" alt="Hugo" class="avatar">
        <span>Hugo</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/146d251aff43bf8bec160db29f33a244.png" alt="Isabela" class="avatar">
        <span>Isabela</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/139b3db8d38f186715ca69e21586d65b.png" alt="Maarten" class="avatar">
        <span>Maarten</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/980721801217edf983b99e7af66612a4.png" alt="Marcel" class="avatar">
        <span>Marcel</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/cab0e70c193a970ca142f74cdb6d7eaa.png" alt="Matthijs" class="avatar">
        <span>Matthijs</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/a58e8a05a2af8af46ba6990b70846808.png" alt="Milda" class="avatar">
        <span>Milda</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/707291310b858c74df1828f5793ea8f8.png" alt="Jesse" class="avatar">
        <span>Jesse</span>
      </li>
      <li>
        <img src="images/team/tim.jpg" alt="Tim" class="avatar">
        <span>Tim</span>
      </li>
    </ul>

  </div>
</section>
