<% t("faq.categories").each do |category| %>
  <div class="faq-category">
    <% faq_slug = slug(category[:title]) %>
    <h3 id="<%= faq_slug %>">
      <a href="#<%= faq_slug %>" class="anchor" aria-hidden="true">
        <span class="icon-link"></span>
      </a>
      <%= category[:title] %>
    </h3>
    <ul class="faq-list">

      <% category[:questions].each do |question| %>
        <% faq_slug = slug(question[:q]) %>
        <li id="<%= faq_slug %>" class="expanded">
          <h4>
            <a href="#<%= faq_slug %>" class="faq-question">
              <%= question[:q] %>
              <span class="faq-icon"></span>
            </a>
          </h4>
          <div class="faq-answer">
            <%= markdown question[:a] || "Coming soon." %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>

<%= javascript_include_tag "faq" %>
