<section id="features">
  <div class="container">
    <div class="section-head">
      <h2><%= t("features.heading") %></h2>
      <h3><%= t("features.heading2_html") %></h3>
      <%= link_to t("trial.request"), t("trial.page"), class: "button button-orange button-big" %>

    </div>
    <h3>So, what does it do?</h3>
    <p>
      LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team - or even with the outside world.
      Depending on your needs, LearningSpaces can be anything from an interactive knowledge base to your internal training platform.
    </p>
    <h3>But wait, there's more!</h3>
    <p>
      You can set up quizzes and assignments, so learners can self-assess and assess each other. Organize your community with learning paths & achievements, use our API to integrate with your LMS or portfolio.
    </p>
    <h3>So how does it work?</h3>
    <ul class="feature-list slide-in">
    <% t("features.features").each do |feature| %>
      <li class="feature">
        <div class="hexagon"><span></span></div>
        <h4><%= feature[:title] %></h4>
        <p><%= feature[:text_html] %></p>
        <%= image_tag feature[:image] %>
      </li>
    <% end %>
    </ul>

  </div>
</section>
