<footer class="footer">
  <div class="row">
    <nav>
      <%= link_to t("menu.tour"), "tour.html" %>
      <%= link_to t("menu.pricing"), "pricing.html" %>
      <%= link_to t("menu.faq"), "faq.html" %>
      <%= link_to t("menu.blog"), "http://blog.learningspaces.io" %>
      <%= link_to t("menu.login"), "login.html" %>
      <%= link_to t("menu.signup"), "https://public.learningspaces.io/accounts/new" %>
    </nav>

    <div class="social">
      <a href="https://twitter.com/learningspaces" target="_blank" class="icon-twitter" title="Twitter"></a>
      <a href="https://www.facebook.com/LrnSpaces" target="_blank" class="icon-facebook" title="Facebook"></a>
      <a href="https://plus.google.com/110885161852372381687" target="_blank" class="icon-google-plus" title="Google+"></a>
      <a href="https://www.linkedin.com/company/learningspaces" target="_blank" class="icon-linkedin" title="LinkedIn"></a>
    </div>

    <span class="copyright">
      &copy; <%= Time.now.year %> <a href="http://www.defacto.nl" target="_blank">Defacto</a>
    </span>
  </div>
</footer>
