<section class="for-who">
  <div class="row">
    <h2><%= t("for_who.title") %></h2>

    <p><%= t("for_who.text") %></p>

    <%= link_to t("for_who.small_teams"), "/small-teams.html",
      class: "button button-outline button-rounded" %>
    <%= link_to t("for_who.trainers"), "/trainers-and-educators.html",
      class: "button button-outline button-rounded" %>
    <%= link_to t("for_who.large_teams"), "/large-teams-and-organizations.html",
      class: "button button-outline button-rounded" %>
  </div>
</section>
