<nav class="header <%= current_page.data.header_class %>" aria-hidden="true">
  <% link_to "index.html", class: "logo" do %>
    <%= image_tag "logo-cube.svg", class: "logo-cube" %>
    <%= image_tag "logo-text.svg", class: "logo-text", alt: "LearningSpaces" %>
    <%= image_tag "logo-cube-white.svg", class: "logo-cube white" %>
    <%= image_tag "logo-text-white.svg", class: "logo-text white", alt: "LearningSpaces" %>
  <% end %>

  <button type="button" class="button header-menu-toggle">
    <span class="bar"></span><span class="bar"></span><span class="bar"></span>
  </button>

  <ul class="header-menu">
    <li><%= link_to "Tour", "tour.html", class: "nav-link" %></li>
    <li><%= link_to "Pricing", "pricing.html", class: "nav-link" %></li>
    <li><%= link_to "FAQ", "faq.html", class: "nav-link" %></li>
    <li><a href="http://blog.learningspaces.io" class="nav-link">Blog</a></li>
    <li><%= link_to "Login", "login.html", class: "nav-link" %></li>
    <li><%= link_to "Sign up", "https://public.learningspaces-staging.io/accounts/new",
        class: "button button-outline button-rounded nav-button" %></li>
  </ul>
</nav>
