<nav class="header <%= current_page.data.header_class %>" aria-hidden="true">
  <% link_to "/index.html", class: "logo" do %>
    <%= image_tag "logo-cube.svg", class: "logo-cube" %>
    <%= image_tag "logo-text.svg", class: "logo-text", alt: "LearningSpaces" %>
    <%= image_tag "logo-cube-white.svg", class: "logo-cube white" %>
    <%= image_tag "logo-text-white.svg", class: "logo-text white", alt: "LearningSpaces" %>
  <% end %>

  <button type="button" class="button header-menu-toggle">
    <span class="bar"></span><span class="bar"></span><span class="bar"></span>
  </button>

  <ul class="header-menu">
    <li><%= nav_link_to t("menu.tour"), "/tour.html", class: "nav-link" %></li>
    <li><%= nav_link_to t("menu.pricing"), "/pricing.html", class: "nav-link" %></li>
    <li><%= nav_link_to t("menu.faq"), "/faq.html", class: "nav-link" %></li>
    <li><%= nav_link_to t("menu.blog"), "http://blog.learningspaces.io", class: "nav-link" %></li>
    <li><%= nav_link_to t("menu.login"), "/login.html", class: "nav-link" %></li>
    <li><%= nav_link_to t("menu.signup"), t("urls.signup"),
        class: "button button-outline button-rounded nav-button" %></li>
  </ul>
</nav>
