<section id="pricing">
  <div class="container">

    <div class="section-head">
      <h2><%= t("menu.pricing") %></h2>
      <hr>
    </div>

    <p class="pricing-text">
      <%= t("pricing.info_before_html") %>
    </p>

    <ul class="plans">
      <li>
        <h3 class="plan-title"><%= t("pricing.plan1.name") %></h3>
        <div class="plan-price">
          <div><span><%= t("pricing.plan1.price") %></span><%= t("pricing.plan1.per") %></div>
        </div>
        <ul class="plan-features">
          <% t("pricing.plan1.features").each do |feature| %>
            <li><%= feature %></li>
          <% end %>
        </ul>
        <%= link_to t("pricing.plan1.call_to_action"), t("trial.page"), class: "button button-white" %><br>
        <p class="no-card"><%= t("pricing.plan1.cta_sub") %></p>
      </li>
      <li class="most-chosen">
        <h3 class="plan-title"><%= t("pricing.plan2.name") %></h3>
        <div class="plan-price">
          <div><span><%= t("pricing.plan2.price") %></span><%= t("pricing.plan2.per") %></div>
        </div>
        <ul class="plan-features">
          <% t("pricing.plan2.features").each do |feature| %>
            <li><%= feature %></li>
          <% end %>
        </ul>
        <%= link_to t("pricing.plan2.call_to_action"), t("trial.page"), class: "button button-white" %>
        <p class="no-card"><%= t("pricing.plan2.cta_sub") %></p>
      </li>
      <li>
        <h3 class="plan-title"><%= t("pricing.plan3.name") %></h3>
        <div class="plan-price">
          <div><span><%= t("pricing.plan3.price") %></span><%= t("pricing.plan3.per") %></div>
        </div>
        <ul class="plan-features">
          <% t("pricing.plan3.features").each do |feature| %>
            <li><%= feature %></li>
          <% end %>
        </ul>
        <%= link_to t("pricing.plan3.call_to_action"), t("trial.page"), class: "button button-white" %>
        <p class="no-card"><%= t("pricing.plan3.cta_sub") %></p>
      </li>
    </ul>

    <p class="pricing-text">
      <%= t("pricing.info_after_html") %>
    </p>

    <br>

  </div>
</section>
