---
i18n_page_name: index
---

<%= partial "header" %>

<div id="main" role="main">
  <%= partial "intro" %>
  <%#= partial "announcement" %>
  <%= partial "seminar/announcement" if I18n.locale == :nl %>
  <%= partial "features" %>
  <%= partial "screenshots" %>
  <%= partial "pricing" %>
  <%= partial "contact" %>
</div>

<%= partial "footer" %>
