---
title: Welcome to LearningSpaces
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><span class="focus">Focus</span> your team’s learning efforts</h1>
    <!-- <h1>You have the knowledge, we have the platform</h1> -->
    <p>Create and share knowledge in a matter of seconds.</p>
    <a href="https://public.learningspaces-staging.io/accounts/new" class="button button-rounded button-hover button-navy">Get started</a>
  </div>
</div>

<section class="clients">
  <div class="row">
    <p>We help teams facilitate collaborative knowledge sharing</p>
    <%= image_tag "clients-logos.png" %>
  </div>
</section>

<section class="for-who">
  <div class="row">
    <h2>What can LearningSpaces do for you?</h2>
    <h4>Eveyone can learn from others, no matter the size of your team.</h4>

    <br>

    <%= link_to "Small Teams &amp; Startups", "small-teams.html",
      class: "button button-outline button-rounded" %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "Trainers &amp; Educators", "trainers-and-educators.html",
      class: "button button-outline button-rounded" %>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "Large Teams &amp; Organizations", "large-teams-and-organizations.html",
      class: "button button-outline button-rounded" %>

    <!-- <br><br><br>
    <p>Easily making content. before, during and after <a href="#">instructions</a>. interact with your students. Social, learning community, learning paths, achievements. (Creating educational materials and sharing them with your students was never this easy! Leaving you crucial time for teaching and interaction.)
    Enhancing your classes with online content couldn’t be more easy. Create a learning community with your students in no-time. Develop tailored content for different groups and mix’n’match important learning material without xeroxing everyting.</p> -->
  </div>
</section>

<section class="screens">
  <div class="row">

    <div class="images">
      <%= image_tag "screenshot-spaces.png" %>
    </div>

    <div class="links">
      <ul>
        <li class="active">
          <h4>Create Meaningful Content</h4>
          <p>
            LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team ...
            <a href="#">Learn more</a>
          </p>
        </li>
        <li>
          <h4>Collaborate with your Team</h4>
          <p>
            You can set up quizzes and assignments, so learners can self-assess and assess each other. Organize your community ...
            <a href="#">Learn more</a>
          </p>
        </li>
        <li>
          <h4>Share your Knowledge</h4>
          <p>
            Depending on your needs, LearningSpaces can be anything from an interactive knowledge base to your internal training ...
            <a href="#">Learn more</a>
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>

<section class="quotes">
  <div class="row">

    <div class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team, or even with the outside world. Depending on your needs, LearningSpaces can be anything from an interactive knowledge ...
      </div>
      <div class="author">
        <span class="avatar" style="background-image: url('http://www.gravatar.com/avatar/139b3db8d38f186715ca69e21586d65b.png')"></span>
        <span class="name">Marcel Horlings</span>
        <span class="company">Training Consultant, Pushup</span>
      </div>
    </div>

    <div class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team, or even with the outside world. Depending on your needs, LearningSpaces can be anything from an interactive knowledge ...
      </div>
      <div class="author">
        <span class="avatar" style="background-image: url('http://www.defacto.nl/images/team/steef-0694e5a4.jpg')"></span>
        <span class="name">Steef Sinkeler</span>
        <span class="company">Learning Strategist, Defacto</span>
      </div>
    </div>

    <div class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team, or even with the outside world. Depending on your needs, LearningSpaces can be anything from an interactive knowledge ...
      </div>
      <div class="author">
        <span class="avatar" style="background-image: url('http://www.gravatar.com/avatar/146d251aff43bf8bec160db29f33a244.png?d=404')"></span>
        <span class="name">Isabela Wojtowicz</span>
        <span class="company">Training Consultant, Pushup</span>
      </div>
    </div>

  </div>
</section>

<section class="signup">
  <div class="row">
    <h3>Ready to give LearningSpaces a try?</h3>
    <a href="https://public.learningspaces-staging.io/accounts/new" class="button button-rounded button-hover">Sign up for free</a>
  </div>
</section>

<section class="team">
  <div class="row">
    <h3>Real human support</h3>
    <p>
      <em>Average responsetime of 1 min.</em><br>
      <em>Learning never waits. Your questions won’t either.</em><br>
    </p>

    <br>
    <h5>Meet the Team</h5>
    <p>...</p>
  </div>
</section>

<!--
<hr>
<section>
  <div class="row">
    <h1>Header</h1>
    <h2>Header</h2>
    <h3>Header</h3>
    <h4>Header</h4>
    <h5>Header</h5>
    <h6>Header</h6>

    <p>Vivamus nibh tellus, volutpat eu tincidunt id, porta volutpat nisl. Donec sit amet orci quis elit egestas tempor eu finibus neque. Ut ut laoreet metus. Morbi nec consequat est, nec finibus est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tristique lacus, sit amet maximus nulla. Sed purus arcu, elementum sed dui et, mollis aliquam massa.</p>

    <p>Aliquam suscipit vestibulum tellus, sed porta orci pretium eget. Nam quis efficitur diam. Sed finibus finibus augue quis vehicula. Cras vel fermentum augue. Maecenas vel condimentum purus. Proin eget pellentesque neque. Pellentesque tincidunt facilisis libero, ut malesuada leo posuere vel. Maecenas id efficitur turpis, vitae dignissim diam. Vestibulum tellus velit, malesuada et tempus id, luctus vel quam. Nullam leo erat, auctor sit amet eros ac, tincidunt scelerisque justo. Donec convallis facilisis urna, sit amet sollicitudin nisi scelerisque non. Aliquam in sem molestie, pharetra libero ac, tincidunt enim. Aliquam eu neque vel tortor fringilla fringilla. Aliquam enim diam, iaculis ut auctor eu, sollicitudin ut sapien. Nulla facilisi. Vivamus posuere neque suscipit sem finibus fringilla.</p>

    <hr>
    <a href="#" class="button button-navy">Get started</a>
    <a href="#" class="button button-rounded button-navy">Get started</a>
    <hr>
    <a href="#" class="button button-outline button-navy">Get started</a>
    <a href="#" class="button button-outline button-rounded button-navy">Get started</a>
  </div>
</section>
-->
