---
title: Welcome to LearningSpaces
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><span class="focus">Focus</span> your team’s learning efforts</h1>
    <!-- <h1>You have the knowledge, we have the platform</h1> -->
    <!-- <p>Create and share knowledge in a matter of seconds.</p> -->

    <br>
    <a href="https://public.learningspaces-staging.io/accounts/new" class="button button-rounded button-hover button-navy">Get started</a>

    <blockquote class="quote2">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team.
      </div>
      <div class="author">
        <span class="name">Marcel Horlings,</span>
        <span class="company">Training Consultant at Pushup</span>
      </div>
    </blockquote>
  </div>
</div>

<!-- <section class="quotes2">
  <div class="row">

    <blockquote class="quote2">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team.
      </div>
      <div class="author">
        <span class="name">Marcel Horlings,</span>
        <span class="company">Training Consultant, Pushup</span>
      </div>
    </blockquote>

  </div>
</section> -->

<section class="slideshow inverted">
  <div class="row">

    <div class="slideshow-screens">
      <div class="browser intrinsic-ratio">
        <div class="browser-ooo"></div>
        <div class="browser-viewport">
          <%= image_tag "screenshots/spaces.jpg", alt: "Spaces", class: "active" %>
          <%= image_tag "screenshots/paths.jpg", alt: "Paths" %>
          <%= image_tag "screenshots/spaces.jpg", alt: "Comments" %>
        </div>
      </div>
    </div>

    <div class="slideshow-nav">
      <ul>
        <li class="active">
          <h4>Create Meaningful Content</h4>
          <p>
            LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team ...
            <a href="#">Learn more</a>
          </p>
        </li>
        <li>
          <h4>Collaborate with your Team</h4>
          <p>
            You can set up quizzes and assignments, so learners can self-assess and assess each other. Organize your community ...
            <a href="#">Learn more</a>
          </p>
        </li>
        <li>
          <h4>Share your Knowledge</h4>
          <p>
            Depending on your needs, LearningSpaces can be anything from an interactive knowledge base to your internal training ...
            <a href="#">Learn more</a>
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>

<%= partial :for_who %>

<section class="slideshow">
  <div class="row">

    <div class="slideshow-screens">
      <div class="browser">
        <div class="browser-ooo"></div>
        <div class="browser-viewport">
          <%= image_tag "screenshots/spaces.jpg", alt: "Spaces", class: "active" %>
          <%= image_tag "screenshots/paths.jpg", alt: "Paths" %>
          <%= image_tag "screenshots/spaces.jpg", alt: "Comments" %>
        </div>
      </div>
    </div>

    <div class="slideshow-nav">
      <ul>
        <li class="active">
          <h4>Create Meaningful Content</h4>
          <p>
            LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team ...
            <a href="#">Learn more</a>
          </p>
        </li>
        <li>
          <h4>Collaborate with your Team</h4>
          <p>
            You can set up quizzes and assignments, so learners can self-assess and assess each other. Organize your community ...
            <a href="#">Learn more</a>
          </p>
        </li>
        <li>
          <h4>Share your Knowledge</h4>
          <p>
            Depending on your needs, LearningSpaces can be anything from an interactive knowledge base to your internal training ...
            <a href="#">Learn more</a>
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>

<%= partial :conversion_signup %>

<section class="quotes">
  <div class="row">

    <blockquote class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team, or even with the outside world. Depending on your needs, LearningSpaces can be anything from an interactive knowledge ...
      </div>
      <div class="author">
        <img src="http://www.gravatar.com/avatar/139b3db8d38f186715ca69e21586d65b.png" alt="Marcel Horlings" class="avatar">
        <span class="name">Marcel Horlings</span>
        <span class="company">Training Consultant, Pushup</span>
      </div>
    </blockquote>

    <blockquote class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team, or even with the outside world. Depending on your needs, LearningSpaces can be anything from an interactive knowledge ...
      </div>
      <div class="author">
        <img src="http://www.defacto.nl/images/team/steef-0694e5a4.jpg" alt="Steef Sinkeler" class="avatar">
        <span class="name">Steef Sinkeler</span>
        <span class="company">Learning Strategist, Defacto</span>
      </div>
    </blockquote>

    <blockquote class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you can create and share knowledge with your team, or even with the outside world. Depending on your needs, LearningSpaces can be anything from an interactive knowledge ...
      </div>
      <div class="author">
        <img src="http://www.gravatar.com/avatar/146d251aff43bf8bec160db29f33a244.png" alt="Isabela Wojtowicz" class="avatar">
        <span class="name">Isabela Wojtowicz</span>
        <span class="company">Training Consultant, Pushup</span>
      </div>
    </blockquote>

  </div>
</section>

<section class="clients">
  <div class="row">
    <p>We help teams facilitate collaborative knowledge sharing</p>
    <%= image_tag "clients-logos.png" %>
  </div>
</section>

<section class="team">
  <div class="row">
    <h3>Real human support</h3>
    <p>
      <em>Average responsetime of 1 min.</em><br>
      <em>Learning never waits. Your questions won’t either.</em><br>
      <em>Have a question? We’re always here to help.</em><br>
    </p>

    <br>
    <h4>Meet the Team</h4>

    <ul class="team-members">
      <li>
        <img src="http://www.gravatar.com/avatar/c3aa43e9fbd49f3d4a4b58772dd3bcc4.png" alt="Alexander" class="avatar">
        <span>Alexander</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/b3164f7cd48eac83bc74ae2dc73f7af6.png" alt="Hugo" class="avatar">
        <span>Hugo</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/146d251aff43bf8bec160db29f33a244.png" alt="Isabela" class="avatar">
        <span>Isabela</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/139b3db8d38f186715ca69e21586d65b.png" alt="Maarten" class="avatar">
        <span>Maarten</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/980721801217edf983b99e7af66612a4.png" alt="Marcel" class="avatar">
        <span>Marcel</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/cab0e70c193a970ca142f74cdb6d7eaa.png" alt="Matthijs" class="avatar">
        <span>Matthijs</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/a58e8a05a2af8af46ba6990b70846808.png" alt="Milda" class="avatar">
        <span>Milda</span>
      </li>
      <li>
        <img src="http://www.defacto.nl/images/team/steef-0694e5a4.jpg" alt="Steef" class="avatar">
        <span>Steef</span>
      </li>
    </ul>

    <br><br>
    <h4>Have a question? We’re here to help.</h4>
    <p>
      Just click the chat icon in the bottom-right corner.<br>
      We'll repsond as soon as we possibly can (average responsetime of 1 min).
    </p>

    <br>
    <h4>Prefer the conventional way of contact?</h4>
    <p>
      Send an email to <a href="mailto:isabela@learningspaces.io" style="display:inline-block; text-decoration:none; border-bottom:1px solid #5fc474;">isabela@learningspaces.io</a>
      or call <a href="tel:+31503144832" style="display:inline-block; text-decoration:none; border-bottom:1px solid #5fc474;">+31 (0)50 3144832</a>
    </p>

  </div>
</section>
