---
title: Welcome to LearningSpaces
header_class: header-hero
description: Focus your team's learning efforts
---

<div class="hero">
  <div class="row">
    <h1><span class="focus">Focus</span> your team’s learning efforts</h1>

    <br>
    <a href="https://public.learningspaces.io/accounts/new" class="button button-rounded button-hover button-navy">Try now, it's free!</a>
    <span class="or">or</span>
    <%= link_to "Take Tour", "tour.html", class: "button button-rounded button-outline button-white" %>

    <blockquote class="quote">
      <div class="text">
        LearningSpaces lets you quickly set up a learning community where you create and share knowledge with your team.
      </div>
      <div class="author">
        <span class="name">Joep Lenglet,</span>
        <span class="company">Learning Consultant at Defacto</span>
      </div>
    </blockquote>
  </div>
</div>

<%= partial :slideshow %>

<%= partial :for_who %>

<%= partial :cta_signup %>

<section class="quotes">
  <div class="row">

    <blockquote class="quote-balloon">
      <div class="text">
        With LearningSpaces I can take my personal development into my own hands, while contributing to the learning process of others.
      </div>
      <div class="author">
        <%= image_tag "avatars/michael_hebben.jpg", alt: "Michael Hebben", class: "avatar" %>
        <span class="name">Michael Hebben</span>
        <span class="company">Corporate Learning Consultant</span>
      </div>
    </blockquote>

    <blockquote class="quote-balloon">
      <div class="text">
        LearningSpaces helps my department by enabling informal learning and knowledge sharing.
      </div>
      <div class="author">
        <%= image_tag "avatars/ronald_van_rheenen.jpg", alt: "Ronald van Rheenen", class: "avatar" %>
        <span class="name">Ronald van Rheenen</span>
        <span class="company">Nuclear Medicine Physician, University Medical Center Groningen</span>
      </div>
    </blockquote>

    <blockquote class="quote-balloon">
      <div class="text">
        We use LearningSpaces in our trainee program for trainings, workshops and coaching. Managing assignments, evaluations, discussions and practical information is easy - and it helps us stay in touch with our trainees.
      </div>
      <div class="author">
        <%= image_tag "avatars/esther_douma.jpg", alt: "Esther Douma", class: "avatar" %>
        <span class="name">Esther Douma</span>
        <span class="company">Training Coordinator, DPA Benkis</span>
      </div>
    </blockquote>

  </div>
</section>

<section class="clients">
  <div class="row">
    <p>We help teams facilitate collaborative knowledge sharing</p>
  </div>
  <div class="logos">
    <%= image_tag "clients/nhl.png" %>
    <%= image_tag "clients/doppio.png" %>
    <%= image_tag "clients/umcg.png" %>
    <%= image_tag "clients/dpa-benkis.png" %>
    <%= image_tag "clients/berendsohn.png" %>
  </div>
</section>

<section class="team">
  <div class="row">
    <h3>Real human support</h3>
    <p>
      <em>Have a question? We’re here to help!</em><br>
      <em>Just click the chat icon in the bottom-right corner.</em><br>
      <em>We'll respond as soon as possible (average response time of about one minute).</em>
    </p>

    <br>
    <h4>Prefer the conventional way of contact?</h4>
    <p>
      Send an email to <a href="mailto:isabela@learningspaces.io" style="display:inline-block; text-decoration:none; border-bottom:1px solid #5fc474;">isabela@learningspaces.io</a>
      or call <a href="tel:+31503144832" style="display:inline-block; text-decoration:none; border-bottom:1px solid #5fc474;">+31 (0)50 3144832</a>
    </p>

    <br>
    <h4>Meet the Team</h4>

    <ul class="team-members">
      <li>
        <img src="http://www.gravatar.com/avatar/b3164f7cd48eac83bc74ae2dc73f7af6.png" alt="Hugo" class="avatar">
        <span>Hugo</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/146d251aff43bf8bec160db29f33a244.png" alt="Isabela" class="avatar">
        <span>Isabela</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/139b3db8d38f186715ca69e21586d65b.png" alt="Maarten" class="avatar">
        <span>Maarten</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/980721801217edf983b99e7af66612a4.png" alt="Marcel" class="avatar">
        <span>Marcel</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/cab0e70c193a970ca142f74cdb6d7eaa.png" alt="Matthijs" class="avatar">
        <span>Matthijs</span>
      </li>
      <li>
        <img src="http://www.gravatar.com/avatar/a58e8a05a2af8af46ba6990b70846808.png" alt="Milda" class="avatar">
        <span>Milda</span>
      </li>
      <li>
        <img src="http://www.defacto.nl/images/team/steef-0694e5a4.jpg" alt="Steef" class="avatar">
        <span>Steef</span>
      </li>
    </ul>

  </div>
</section>
