---
title:
  en: "LearningSpaces: Focus your team’s learning efforts"
  de: "LearningSpaces: Focus your team’s learning efforts"
has_title_affix: false
description:
  en: LearningSpaces lets you quickly set up a learning community where you create and share knowledge with your team.
  nl: Handleidingen. Werkwijzen. Tips en trucs. In LearningSpaces kan je hele team specialismen met elkaar delen.
  de: Mit LearningSpaces kann man schnell und einfach eine Learning Community aufbauen, in der dein Team Wissen gestalten und miteinander Teilen kann.
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><%= t("home.hero.title") %></h1>

    <br>
    <a href="https://public.learningspaces.io/accounts/new" class="button button-rounded button-hover button-navy">
      <%= t("home.hero.try_now") %>
    </a>
    <span class="or"><%= t("home.hero.or") %></span>
    <%= link_to t("home.hero.take_tour"), "/tour.html", class: "button button-rounded button-outline button-white" %>

    <blockquote class="quote">
      <div class="text"><%= t("home.hero.quote.text") %></div>
    </blockquote>
  </div>
</div>

<%= partial :slideshow %>

<%= partial :cta_signup %>

<%= partial :quotes, locals: {
  count: 3,
  featured: true
} %>

<%= partial :clients %>

<%= partial :contact %>
