---
title:
  en: "LearningSpaces: Focus your team’s learning efforts"
  nl: "LearningSpaces: Focus your team’s learning efforts"
title_affix: false
description:
  en: LearningSpaces lets you quickly set up a learning community where you create and share knowledge with your team.
  nl: Met LearningSpaces creëer je in zeer korte tijd een leercommunity om kennis te delen met je team.
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><%= t("home.hero.title") %></h1>

    <br>
    <a href="https://public.learningspaces.io/accounts/new" class="button button-rounded button-hover button-navy">
      <%= t("home.hero.try_now") %>
    </a>
    <span class="or"><%= t("home.hero.or") %></span>
    <%= link_to t("home.hero.take_tour"), "tour.html", class: "button button-rounded button-outline button-white" %>

    <blockquote class="quote">
      <div class="text"><%= t("home.hero.quote.text") %></div>
      <div class="author">
        <span class="name"><%= t("home.hero.quote.author") %></span>
        <span class="company"><%= t("home.hero.quote.company") %></span>
      </div>
    </blockquote>
  </div>
</div>

<%= partial :slideshow %>

<%= partial :for_who %>

<%= partial :cta_signup %>

<%= partial :quotes, locals: {
  count: 3,
  featured: true
} %>

<%= partial :clients %>

<%= partial :contact %>
