---
title: Pricing
header_class: header-hero
---

<div class="hero small">
  <div class="row">
    <h1><%= t("pricing.hero.title") %></h1>
    <p><%= t("pricing.hero.text") %></p>
  </div>
</div>

<section class="princing-plans">
  <div class="row plans">

    <div id="plan-free" class="plan">
      <h3><%= t("pricing.plans.free.title") %></h3>
      <div class="plan-price">
        <span class="currency">&euro;</span>0
      </div>
      <% t("pricing.plans.free.features").each do |features| %>
        <p><%= features %></p>
      <% end %>
    </div>

    <div id="plan-value" class="plan">
      <h3><%= t("pricing.plans.value.title") %></h3>
      <div class="plan-price">
        <span class="currency">&euro;</span>2
        <!-- <span class="cents">99</span> -->
      </div>
      <% t("pricing.plans.value.features").each do |features| %>
        <p><%= features %></p>
      <% end %>
    </div>

    <div id="plan-enterprise" class="plan">
      <h3><%= t("pricing.plans.enterprise.title") %></h3>
      <div class="plan-price text">
        <%= t("pricing.plans.enterprise.call_us") %>
      </div>
      <% t("pricing.plans.enterprise.features").each do |features| %>
        <p><%= features %></p>
      <% end %>
    </div>

  </div>

  <div class="row">
    <% t("pricing.features").each do |features| %>
      <p><%= features %></p>
    <% end %>
  </div>
</section>
