---
title:
  en: Pricing
  nl: Prijzen
  de: Preis
description:
  en: LearningSpaces is available for everybody, from small teams to large enterprises.
  nl: LearningSpaces is beschikbaar voor iedereen, van kleine teams tot grote organisaties.
  de: LearningSpaces ist für jedermann, von kleinen Teams bis hin zu großen Unternehmen.
header_class: header-hero
---

<div class="hero small">
  <div class="row">
    <h1><%= t("pricing.hero.title") %></h1>
    <p><%= t("pricing.hero.text") %></p>
  </div>
</div>

<section class="princing-plans border-bottom">
  <div class="row plans">

    <div id="plan-free" class="plan">
      <div class="plan-content">
        <h3><%= t("pricing.plans.free.title") %></h3>
        <div class="plan-price">
          <span class="currency">&euro;</span>0
        </div>
        <% pricing_features = t("pricing.plans.free.features")
        pricing_features = Array.new unless pricing_features.is_a?(Array)
        pricing_features.each do |feature| %>
          <%= markdown feature %>
        <% end %>
        <a class="button button-rounded" href="https://public.learningspaces.io/accounts/new"><%= t("pricing.plans.free.trial") %></a>
      </div>
    </div>

    <div id="plan-value" class="plan">
      <div class="plan-content">
        <h3><%= t("pricing.plans.value.title") %></h3>
        <div class="plan-price">
          <span class="currency">&euro;</span>2
          <!-- <span class="cents">00</span> -->
        </div>
        <% pricing_features = t("pricing.plans.value.features")
        pricing_features = Array.new unless pricing_features.is_a?(Array)
        pricing_features.each do |feature| %>
          <%= markdown feature %>
        <% end %>
      </div>
    </div>

    <div id="plan-enterprise" class="plan">
      <div class="plan-content">
        <h3><%= t("pricing.plans.enterprise.title") %></h3>
        <div class="plan-price">
          <%= t("pricing.plans.enterprise.custom_pricing") %>
          <%= markdown t("pricing.plans.enterprise.contact_us") %>
        </div>
        <% pricing_features = t("pricing.plans.enterprise.features")
        pricing_features = Array.new unless pricing_features.is_a?(Array)
        pricing_features.each do |feature| %>
          <%= markdown feature %>
        <% end %>
      </div>
    </div>

  </div>

  <ul class="row pricing-features">
    <% pricing_features = t("pricing.features")
    pricing_features = Array.new unless pricing_features.is_a?(Array)
    pricing_features.each do |feature| %>
      <li><%= markdown feature %></li>
    <% end %>
  </ul>
</section>

<%= partial :for_who %>

<%= partial :clients %>

