---
title: Tour
---

<div class="hero small">
  <div class="row">
    <h1><%= t("tour.hero.title") %></h1>
    <p><%= t("tour.hero.text") %></p>
  </div>
</div>

<section class="features">

  <% t("tour.features").each_with_index do |feature, index| %>
    <div class="feature" id="<%= feature[:title].downcase.parameterize %>">
      <div class="row">

        <div class="feature-image">
          <%= image_tag feature[:image], alt: feature[:title] %>
        </div>

        <div class="feature-text">
          <h3><%= feature[:title] %></h3>
          <p><%= markdown feature[:text_md] %></p>
        </div>

      </div>
    </div>
  <% end %>

</section>

<%= partial :cta_signup %>
