---
title: Tour
header_class: header-hero
---

<%
tour_features = t("tour.features")
%>

<div class="hero small">
  <div class="row">
    <h1><%= t("tour.hero.title") %></h1>
    <p><%= t("tour.hero.text") %></p>
    <%= partial :video %>
  </div>
</div>

<section class="features">

  <% tour_features.each_with_index do |feature, index| %>
    <% tour_slug = slug(feature[:title]) %>
    <div class="feature" id="<%= tour_slug %>">
      <div class="row">

        <div class="feature-image">
          <%= image_tag feature[:image], alt: feature[:title] %>
        </div>

        <div class="feature-text">
          <h3>
            <a href="#<%= tour_slug %>" class="anchor" aria-hidden="true">
              <span class="icon-link"></span>
            </a>
            <%= feature[:title] %>
          </h3>
          <p><%= markdown feature[:text_md] %></p>
        </div>

      </div>
    </div>
  <% end %>

</section>

<%= partial :cta_signup %>
