---
layout: panel
i18n_page_name: trial
---

<%= partial "header" %>

<script>
  window.location = '<%= t("trial.page") %>';
</script>

<div class="panel-inner">
  <div class="container">
    <h1><%= t("trial.signup.title") %></h1>
    <%= link_to t("trial.signup.moved"), t("trial.page") %>
  </div>

  <div class="footer">
    <%= link_to t("trial.signup.footer"), "/" %>
  </div>
</div>
