---
i18n_page_name: index
---

<header id="header">
  <div class="header-wrapper">
    <div class="logo">
        <a href="/">
          <%= image_tag 'logo-cube-white.svg', :class => 'logo-cube' %>
          <%= image_tag 'logo-text-white.svg', :class => 'logo-text', :alt => t("application_name") %>
        </a>
    </div>
    <button type="button" class="button button-white header-menu-button" id="mobile-menu-toggle">
      <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </button>
    <nav class="nav" role="navigation">
      <ul id="header-menu">
        <li><a href="/#seminar" data-scrollto="#seminar" class="link">Over</a></li>
        <li><a href="/#program" data-scrollto="#program" class="link">Programma</a></li>
        <li><a href="/#speakers" data-scrollto="#speakers" class="link">Sprekers</a></li>
        <li><a href="/#location" data-scrollto="#location" class="link">Locatie</a></li>
      </ul>
    </nav>
  </div>
</header>

<div id="main" role="main">
  <section id="intro">
    <h1>Seminar:</h1>
    <h2>Informeel leren en kennis delen in ziekenhuizen</h2>
    <h3>Donderdag 11 juni 2015</h3>

    <div class="bottom">
      <a href="https://romke.typeform.com/to/msQuP6" class="button button-big button-cta">Meld je aan voor het seminar</a>
    </div>
  </section>

  <section id="impuls">
    <div class="container">

      <div class="section-head">
        <h2>Geef een kwaliteitsimpuls</h2>
        <h3>Hands-on seminar LearningSpaces</h3>
        <hr>
      </div>

      <div class="row">
        <div class="col">
          <p>In een organisatie waar teams zelf verantwoordelijk zijn voor de kwaliteit van zorg is het logisch dat deze teams ook verantwoordelijk zijn voor hun eigen ontwikkeling.</p>

          <p>Bij- en nascholing wordt echter vaak nog centraal geregeld; generiek en niet afgestemd op de specifieke behoeftes van een team of afdeling.</p>

          <p>Uit een <a href="https://www.youtube.com/watch?v=t6WX11iqmg0">studie van Charles Jennings</a> blijkt dat leren en kennisdeling voor zeker 70% plaatsvindt op de werkvloer. Slechts 10% vindt plaats via formele trainingen en cursussen. Toch wordt er nog steeds meer (tijd en geld) geïnvesteerd in deze formele en generieke manier van leren dan in informeel leren.</p>

          <p>Leren met LearningSpaces sluit wél nauw aan bij de behoeftes van een team, onder andere doordat het team er zelf invulling aan geeft.</p>
        </div>
        <div class="col">
          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/t6WX11iqmg0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="seminar">
    <div class="container">

      <div class="section-head">
        <h2>Hands-on seminar</h2>
        <h3></h3>
        <hr>
      </div>

      <div class="row">
        <div class="col">
          <p>Op <strong>donderdag 11 juni</strong> aanstaande organiseren wij het seminar ‘Informeel Leren en kennisdelen in ziekenhuizen’ voor mensen die werkzaam zijn in de gezondheidszorg. Het seminar is een inspiratiesessie waarin professionals uit de praktijk je inwijden in de wereld van informeel leren en kennisdeling.</p>

          <p>Daarnaast ga je zelf aan de slag met LearningSpaces in een hands-on workshop, die direct resultaat oplevert. Dit resultaat kun je direct in de dagelijkse praktijk toepassen en implementeren.</p>
        </div>
        <div class="col">
          <h4>Onderwerpen die deze middag  aan de orde zullen komen, zijn:</h4>

          <ul>
            <li>Wat kan informeel leren betekenen voor de organisatie?</li>
            <li>Wat is de toegevoegde waarde van Learning Communities?</li>
            <li>Wat levert het delen van kennis op?</li>
            <li>Hoe verhoudt informeel leren zich t.o.v. het formele leren?</li>
            <li>Hoe zorg je dat zorgprofessionals hun kennis delen?</li>
            <li>Hoe borg je kennis die op de afdeling aanwezig is?</li>
            <li>Hoe maak je deze eenvoudig vindbaar en toepasbaar?</li>
            <li>Hoe zorg je voor een lerende afdeling waarbij iedereen bijdraagt aan kwaliteitsverhoging?</li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section id="program">
    <div class="container">

      <div class="section-head">
        <h2>Het programma</h2>
        <h3>Donderdag 11 juni 2015</h3>
        <hr>
      </div>

      <ul class="program">
        <li>
          <div class="time">13:00 uur</div>
          <h4>Inloop met lunch</h4>
        </li>
        <li>
          <div class="time">13:30 uur</div>
          <h4>Welkomstwoord en introductie</h4>
        </li>
        <li>
          <div class="time">13:45 – 16:45 uur</div>
          <h4>Een rijkgevuld programma met de volgende sessies:</h4>

          <ul>
            <li>
              <h5>Traditioneel leren vs. Informeel leren: de feiten</h5>
              <p>Wat betekent informeel leren en is het echt zo nieuw?</p>
            </li>
            <li>
              <h5>Praktijkcase I: OK van de Toekomst of OK 2020</h5>
              <p><a href="/#speakers" data-scrollto="#speakers">Michael Hebben</a>, “Veroorzaker van plezier en expert in leer- en verandervraagstukken", praat over de rol die informeel leren speelt in de OK van de toekomst, OK2020, en betoogt op inspirerende wijze dat wij allemaal producent én consument van kennis zijn.</p>
            </li>
            <li>
              <h5>Rondleiding Dierenpark</h5>
            </li>
            <li>
              <h5>Praktijkcase II: Informeel leren op de afdeling Radiologie en Nucleaire geneeskunde</h5>
              <p><a href="/#speakers" data-scrollto="#speakers">Ronald van Rheenen</a> van het Universitair Medisch Centrum Groningen vertelt hoe en waarom informeel leren ingezet wordt op de afdeling radiologie.</p>
            </li>
            <li>
              <h5>Hands-on workshop LearningSpaces: doe het lekker zelf</h5>
              <p>Met LearningSpaces is iedereen docent én student. Ervaar zelf hoe eenvoudig het is om kennis te maken en te delen. Wij laten zien hoe je binnen 10 minuten zelf materiaal ontwikkelt en deelt.</p>

              <p>Aan het eind van de middag weet je hoe je een LearningCommunity neerzet samen met je medewerkers, zodat de kennis van medische professionals geborgd wordt en deze optimaal benut kan worden: vanuit lessons learned, de laatste inzichten en praktische tips.</p>
            </li>
          </ul>

        </li>
        <li>
          <div class="time">16:45 uur</div>
          <h4>Plenaire afsluiting met ruimte voor vragen en discussie</h4>
        </li>
        <li>
          <div class="time">17:00 uur</div>
          <h4>Netwerkborrel</h4>
        </li>
      </ul>

    </div>
  </section>

  <section id="speakers">
    <div class="container">

      <div class="section-head">
        <h2>Over de sprekers</h2>
        <h3></h3>
        <hr>
      </div>

      <div class="row">
        <div class="col">
          <div class="title">
            <div class="avatar small" style="background-image: url(https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/070/03b/19b736d.jpg)"></div>
            <h4>Michael Hebben</h4>
            <span>Bachelor of science in Nursing (BSN)</span>
          </div>
          <p>Michael Hebben is expert op het gebied van Gamification. Hij helpt organisaties bij het vinden van nieuwe manieren om te leren, innoveren en veranderen.</p>
        </div>
        <div class="col">
          <div class="title">
            <div class="avatar small" style="background-image: url(https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/06f/0f1/11eaed0.jpg)"></div>
            <h4>Ronald van Rheenen</h4>
            <span>Doctor of Medicine (MD)</span>
          </div>
          <p>Ronald van Rheenen is arts nucleaire geneeskunde in het Universitair Medisch Centrum Groningen.</p>
        </div>
      </div>

    </div>
  </section>

  <section id="location">
    <div class="container">

      <div class="section-head">
        <h2>Locatie</h2>
        <h3>Barchman Wuytierslaan 224 te Amersfoort</h3>
        <hr>
      </div>

      <div class="row">
        <div class="col">
          <h4>Dierenpark Amersfoort</h4>
          <p>Barchman Wuytierslaan 224 te Amersfoort. Je kunt je bij de receptie melden als gast van Defacto.</p>
          <ul>
            <li><a href="https://www.google.nl/maps/dir/''/Barchman+Wuytierslaan+224,+3819+AC+Amersfoort/@52.1518042,5.3437533,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x47c643fcc2c3934b:0x898871242c84bf9f!2m2!1d5.3480448!2d52.1518043" target="_blank">Bekijk locatie op de kaart</a></li>
            <li><a href="http://9292.nl/plan/vertrek/2015-04-21T2105?naarRef=amersfoort_barchman-wuytierslaan-224" target="_blank">Plan je reis met het openbaar vervoer</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Bereikbaarheid</h4>
          <p>Dierenpark Amersfoort is eenvoudig te bereiken met het openbaar vervoer en met de auto.</p>
          <p>Vanaf treinstation Amersfoort sta je met bus 70 binnen vijf minuten voor de deur.</p>
          <p>Kom je met de auto dan parkeer je bij het Dierenpark en krijg je een uitrijkaart van Defacto.</p>
        </div>
      </div>

    </div>
  </section>

  <section id="contact">
    <div class="container">

      <div class="section-head">
        <h2>Aanmelden</h2>
        <h3>We zien je graag op donderdag 11 juni in Amersfoort!</h3>
        <hr>
      </div>

      <p><a href="https://romke.typeform.com/to/msQuP6" class="button button-big button-cta">Meld je aan voor het seminar</a></p>

      <h3>Dit seminar is kosteloos.</h3>
      <p>Bij vragen kun je contact opnemen met <strong>Janine Veenker</strong>, coördinator seminars.</p>

      <a href="mailto:j.veenker@defacto.nl" class="button button-big">j.veenker@defacto.nl</a>
      <a href="tel:+31503144832" class="button button-big">+31 (0)50 3144832</a>

    </div>
  </section>

  <%= partial "screenshots" %>

  <section id="bottom">
    <div class="container">
      <h3>Meer weten over LearningSpaces? <a href="/">Klik hier.</a></h3>
      <%= partial "social" %>
    </div>
  </section>

</div>

<%= partial "footer" %>
